/* Global Styles */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-strong-cyan-bright: hsl(171, 67%, 47%);
    --color-light-blue: hsl(233, 100%, 69%);
    --color-light-blue-bright: hsl(233, 100%, 72%);
    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);
    --color-light-gray: hsl(220, 18%, 97%);

    --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
    font-size: 18px;

    --shadow-primary: inset 0px -3px 0px 0px hsla(0, 0%, 0%, 0.15), 0px 10px 20px hsla(160, 64%, 72%, 0.5);
    --shadow-secondary: inset 0px -3px 0px 0px hsla(0, 0%, 0%, 0.15), 0px 10px 20px hsla(0, 0%, 0%, 0.1);
    --shadow-accent: 0px 0px 1px 0px hsla(0, 0%, 100%), 0px 10px 20px rgba(245, 245, 245, 0.904);
}
body {
    font-family: var(--font-bai-jamjuree);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
footer {
    background-color: var(--color-light-gray);
    margin-top: 10rem;
    padding: 2.5rem 1rem;
}

/* Header */
.hero__content {
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__image {
    margin: 0 auto;
    max-width: 115px;
    padding-bottom: 20px;
    padding-top: 60px;
}
.container {
    margin: 0 auto 5rem;
    max-width: 600px;
    width: 90%;
}
.container--short {
    margin: 0 auto;
}
.heading, .description {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.heading {
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 0.5rem;
}
.heading--large {
    font-size: 1.7rem;
}
.heading--medium {
    font-size: 1.4rem;
}
.heading--small {
    font-size: 1.2rem;
}
.description {
    color: var(--color-grayish-blue);
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.7;
    margin-bottom: 3rem;
}
.download { 
    align-items: center;
    display: flex;
    flex-direction: column;
}
.download__button {
    border: none;
    border-radius: 2rem;
    color: var(--color-light-gray);
    display: block;
    font-family: var(--font-bai-jamjuree);
    font-size: 0.8em;
    margin: 1rem 0;
    width: 70%;
    padding: 0.8rem;
}
.download__button--primary {
    background-color: var(--color-strong-cyan);
    box-shadow: var(--shadow-primary)
}
.download__button--primary:hover {
    background-color: var(--color-strong-cyan-bright);
}
.download__button--secondary {
    background-color: var(--color-light-blue);
    box-shadow: var(--shadow-secondary);
}
.download__button--secondary:hover {
    background-color: var(--color-light-blue-bright);
}
.download__button--primary:hover, .download__button--secondary:hover {
    cursor: pointer;
}
.features-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.features__image, .device-image {
    margin: 0 auto;
}
.features__item--top {
    margin-top: 3rem;
}
.features__item {
    max-width: 330px;
}
.features__image {
    margin-bottom: 1.75rem;
}
.company-logo-container {
    align-items: center;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    justify-items: center;
}
.company-logo:not(:first-child):not(:last-child) {
    margin: 1.2rem 0;
}
.footer__content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.footer__logo {
    max-width: 16%;
}
.footer__nav-list {
    align-items: center;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    justify-items: center;
    margin: 1rem 0;
    text-align: center;
}
.footer__item {
    margin: 1rem;
}
.footer__social-list {
    display: flex;
    justify-content: space-evenly;
}
.footer__social-item {
    margin: 0 1rem;
}
.footer__link, .fab {
    color: var(--color-dark-grayish-blue);
}
.footer__link:hover, .fab:hover {
    color: var(--color-strong-cyan);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution__link { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries */
/* 768px */
@media screen and (min-width: 48em)  {
    .container {
        max-width: 1200px;
    }
    .hero__content {
        background-image: url(/images/bg-header-desktop.png);
    }
    .hero__image {
        padding-bottom: 40px
    }
    .download {
        flex-direction: row;
        justify-content: center;
    }
    .download__button {
        margin: 0 6px;
        width: 180px;
    }
    .features-list--row {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .company-logo-container {
        grid-template: 1fr / repeat(5, 1fr);
    }
    .company-logo {
        max-width: 75%;
    }
    footer {
        padding: 1rem;
    }
    .footer__content-wrapper {
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer__logo {
        max-width: 40px;
    }
    .footer__nav-list {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        justify-items: left;
        text-align: left;
        width: 60%;
    }
    .footer__nav-list, .footer__item {
        margin: 0;
    }
    .contact-us { order: 4; }
    .privacy-policy { order: 2; }
    .press-kit { order: 5; }
    .install-guide { order: 3; }
    .footer__item {
        padding-right: 1.5rem;
        padding-top: 0.6rem;
    }
    .fab {
        font-size: 1.5em;
    }
    .footer__social-item {
        margin: 0 0.8rem;
    }
}
/* 992px */
@media screen and (min-width: 62em) {
    .text-left {
        text-align: left;
    }
    .container--wide {
        display: flex;
        margin-left: -6rem;
    }
    .features-list--wide {
        margin-left: 3rem;
    }
    .company-logo {
        max-width: 80%;
    }
}
/* 1200px */
@media screen and (min-width: 75em) {
    .container {
        max-width: 1400px;
    }
}